.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contenedor-productos .card-producto {
  padding: 1rem 0;
  flex: 1 1 20rem;
  background-color: #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  border: .1rem solid rgba(0, 0, 0, .3);
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.contenedor-productos .card-producto img {
  width: 19em;
}

.contenedor-productos .card-producto .btn-producto {
  font-size: 1rem;
  padding: .1rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(129, 207, 207);
}